.note {
    background-color:#feff9c;
    color: rgb(0, 0, 0);
    height: 13em;
    width: 12em;
    margin: 1em;
    transform: rotate(-6deg);
    position: relative;
    padding: 2em;
    border-radius: .5rem;
}

.note:nth-child(even) {
    background-color: aqua;
    transform: rotate(4deg);
    position: relative;
}

.note:nth-child(3n) {
    background-color: #4ef85c;
    transform: rotate(-3deg);
    position: relative;
}

.note:hover,
.note_text_focus {
    transform: scale(1.5);
    z-index: 5;
    transition: all ease 0.3s;
    border-radius: 1em; 
    height: 15em;
    margin: 20px;
    padding: 25px;
    font-size: .9em;
}

.note_text {
    flex: 1;
    outline: none;
    padding: 10px;
}

.note .btn-close {
    position: absolute;
    right: 4px;
    top: 4px;
}

.note_link {
    display: none;
}