.note {
    background-color:#feff9c;
    color: rgb(0, 0, 0);
    height: 13em;
    width: 12em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    transform: rotate(-6deg);
    position: relative;
    padding: 2em;
    border-radius: .5rem;
}
.note:nth-child(even) {
    background-color: aqua;
    transform: rotate(4deg);
    position: relative;
    /* top: 5px; */
}
.note:nth-child(3n) {
    background-color: #4ef85c;
    transform: rotate(-3deg);
    position: relative;
    /* top: -5px; */
}
.note:hover,
.note_text_focus {
    transform: scale(1.5);
    z-index: 5;
    transition: all ease 0.3s;
    box-shadow: rgba(228, 219, 219, 0.2) 0px 20px 30px;
    border-radius: 1em; 
    height: 10em;
    margin: 10px;
    padding: 10px;
}
.note_text {
    flex: 1;
    outline: none;
    margin-top: 10px;
    font-size: small;
}
.note btn-close {
    right: 20px;
}
.note_link {
    display: none;
}